:root {
    --primary-color: #f8edeb;
    --secondary-color: #fec5bb;
    --tertiary-color: #6d6875;
    --quaternary-color: #b5838d;
}

body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
}

/* HEADER STYLES */

.header {
    background-color: var(--tertiary-color);
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-size: cover;
}

.header h1 {
    font-size: 4vw;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header nav ul li a {
    padding: 0 20px 0 20px;
    font-size: 1.75vw;
    color: var(--primary-color);
}

/* HERO STYLES */

.hero {
    background-image: url("../images/hero.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    height: 20vw;
    position: relative;
}

.hero h1 {
    display: flex;
    position: absolute;
    bottom: 0px;
    color: var(--quaternary-color);
    font-size: 1.75vw;
}

/* SECTION STYLES */

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    
    
}

.title {
    border-right: 3px solid var(--tertiary-color);
    font-size: 1.75vw;
    flex: 0 1 15%;
    justify-content: right;
    text-align: right;
    padding-right: 30px;
}

/* ABOUT ME STYLES */

.intro {
    flex: 1 0 50%;
    padding: 30px 10px;
}

.avatar {
    margin-top: 50px;
}

/* WORK STYLES */

.work {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.primary-work {
    padding: 30px 130px;
    justify-content: right;
    text-align: right;
    
}

.primary-work-image {
    position: relative;
    flex: 0 0 900px;
}

.primary-work-image img {
    border: 7px solid var(--quaternary-color);
    width: 100%;
}

.primary-work-detail {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 2px solid var(--quaternary-color);
    padding: 8px;
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    text-align: center;
}

.secondary-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.work-image {
    position: relative;
    flex: 0 0 590px;
    margin: 0 30px 18px 0;
}

.work-image img {
    border: 7px solid var(--quaternary-color);
    width: 100%;
}

.work-detail {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 2px solid var(--quaternary-color);
    padding: 8px;
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    text-align: center;
}

/* REACH OUT STYLES */

.reach-out {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 79%;
}

.contacts {
    
    align-content: center;
}

.contacts a {
    
    font-size: 1.75vw;
    color: var(--quaternary-color);
}

/* FOOTER STYLES */

footer {
    background-color: var(--tertiary-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer h3 {
    color: var(--secondary-color);
}