:root {
    --primary-color: #f8edeb;
    --secondary-color: #fec5bb;
    --tertiary-color: #6d6875;
    --quaternary-color: #b5838d;
}

body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
}

/* HEADER STYLES */

.header {
    background-color: var(--tertiary-color);
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-size: cover;
}

.header h1 {
    font-size: 4vw;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header nav ul li a {
    padding: 0 20px 0 20px;
    font-size: 1.75vw;
    color: var(--primary-color);
}

/* HERO STYLES */

.hero {
    background-image: url("../images/hero.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    height: 20vw;
    position: relative;
}

.hero h1 {
    display: flex;
    position: absolute;
    bottom: 0px;
    color: var(--quaternary-color);
    font-size: 1.75vw;
}

/* SECTION STYLES */

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    margin: 20px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    border-right: 3px solid var(--tertiary-color);
    font-size: 1.75vw;
    flex: 0 1 15%;
    justify-content: right;
    text-align: right;
    padding-right: 30px;
}

/* ABOUT ME STYLES */

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}

.intro {
    width: 80%;
}

.avatar {
    align-self: center;
}

/* WORK STYLES */

.work {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin: 10px;
}

.primary-work {
    width: 90%;
}

.primary-work-image {
    position: relative;
}

.primary-work-image img,
.work-image img {
    border: 7px solid var(--quaternary-color);
    width: 100%;
    opacity: 0.5;
}

.primary-work-image img:hover,
.work-image img:hover {
    opacity: 1;
}

.primary-work-detail,
.work-detail {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 2px solid var(--quaternary-color);
    padding: 8px;
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    text-align: center;
}

.secondary-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.work-image {
    position: relative;
    width: 49%;
}

/* REACH OUT STYLES */

.reach-out {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 79%;
}

.contacts {
    align-content: center;
}

.contacts a {
    font-size: 1.75vw;
    color: var(--quaternary-color);
}

/* FOOTER STYLES */

footer {
    background-color: var(--tertiary-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer h3 {
    color: var(--secondary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    .header h1 {
        font-size: 5vw;
    }
    
    .header nav ul li a {
        font-size: 2vw;
    }

    .hero h1 {
        font-size: 2.5vw;
    }

    .title h2 {
        font-size: 2.8vw;
    }

    .about-me {
        width: 77%;
    }
    
    .intro {
        width: 68%;
    }

    .work-image {
        width: 48%;
    }

    .primary-work-detail,
    .work-detail {
        width: 77px;
        height: 57px;
    }

    .primary-work-detail h3,
    .work-detail h3 {
        font-size: 15px;
        margin: 2px 0 5px 0px;
    }

    .primary-work-detail p,
    .work-detail p {
        font-size: 12px;
        margin: 0;
    }

    .reach-out {
        width: 75%;
    }

    .contacts a {
        font-size: 3vw;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
    .header h1 {
        width: 100%;
        text-align: center;
        font-size: 7vw;
    }
    
    .header nav {
        width: 100%;
    }

    .header nav ul {
        text-align: center;
    }

    .header nav ul li a {
        font-size: 3.5vw;
    }

    .hero h1 {
        font-size: 3vw;
    }

    .title h2 {
        font-size: 4vw;
    }

    .avatar {
        width: 40%;
        align-self: center;
    }

    .intro {
        width: 90%;
        font-size: 2.5vw;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    .header h1 {
        font-size: 8vw;
    }

    .header nav ul li a {
        font-size: 4vw;
    }
    
    .hero h1 {
        font-size: 4.5vw;
        width: 100%;
        justify-content: center;
    }

    .section {
        flex-direction: column;
    }

    .title {
        width: 100%;
        justify-content: center;
        text-align: center;
        border-right: none;
        border-bottom: 3px solid var(--tertiary-color);
        margin-bottom: 20px;
    }

    .title h2 {
        font-size: 5vw;
    }

    br {
        content:' ';
    }
    
    br:after {
        content:' ';
    }

    .about-me {
        width: 100%;
    }

    .avatar img {
        text-align: center;
    }

    .intro {
        width: 100%;
        font-size: 3.2vw;
    }

    .work {
        width: 100%;
    }

    .primary-work {
        width: 100%;
        margin-bottom: 10px;
    }

    .secondary-work {
        width: 100%;
    }

    .work-image {
        margin-bottom: 10px;
    }

    .reach-out {
        width: 100%;
    }

    .contacts a {
        font-size: 3.5vw;
    }
}
    
